<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.tajti.themealapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".TheMealAppApplication"
        android:theme="@style/AppTheme">
        <activity android:name="hu.tajti.themealapp.ui.meals.MealsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.newmeal.NewMealActivity" android:theme="@style/AppTheme"/>
        <activity android:name=".ui.meal.MealActivity" android:theme="@style/AppTheme"/>
    </application>

</manifest>
